@import "tailwindcss";

@config '../../tailwind.config.ts';

@layer base {
  :root {
    --black: #000000;
    --white: #ffffff;
    --dark: #191a23;
    --light: #f3f3f3;
    --green: #b9ff66;

    --radius: 0.5rem;

    --background: 56 100% 99.5%;
    --foreground: 56 100% 5%;
    --theme: 56 100% 68%;
    --logo-filter: hue-rotate(321deg) brightness(108%) saturate(96%);

    [data-theme="work"] {
      --background: 220 100% 99.5%;
      --foreground: 220 100% 5%;
      --theme: 220 100% 68%;
      --logo-filter: hue-rotate(152deg) brightness(67%) saturate(440%);
    }

    [data-theme="hobby"] {
      --background: 160 100% 99.5%;
      --foreground: 160 100% 5%;
      --theme: 160 100% 68%;
      --logo-filter: hue-rotate(44deg) brightness(122%) saturate(79%);
    }
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background dark:bg-foreground text-foreground dark:text-background;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans py-2 font-semibold;
  }
  h1 {
    @apply text-3xl sm:text-4xl;
  }
  h2 {
    @apply text-2xl sm:text-3xl;
  }
  h3 {
    @apply text-xl sm:text-2xl;
  }
  h4 {
    @apply text-lg sm:text-xl;
  }
  h5 {
    @apply sm:text-lg;
  }

  .legal-layout {
    p {
      @apply text-base py-2;
    }
    ul {
      @apply list-disc list-inside text-base py-2;
    }
    li {
      @apply py-0.5;
    }
    ol {
      @apply list-decimal list-inside text-base py-2;
    }
  }

  main * a {
    @apply pb-[0.1rem] relative hover:text-theme hover:brightness-[0.65] dark:hover:brightness-100 saturate-200 dark:saturate-100 cursor-pointer;
  }
  [data-theme="work"] main * a:hover {
    @apply brightness-75 dark:brightness-100 saturate-100;
  }
  main * a::after {
    @apply absolute left-0 bottom-0 w-full h-1 bg-black dark:bg-white content-[''];
  }
  main * a:hover::after {
    @apply bg-theme dark:bg-theme;
  }
  main :nth-child(8n + 1) a::after {
    -webkit-mask: url("/assets/lines/ul1.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul1.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 2) a::after {
    -webkit-mask: url("/assets/lines/ul2.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul2.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 3) a::after {
    -webkit-mask: url("/assets/lines/ul3.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul3.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 4) a::after {
    -webkit-mask: url("/assets/lines/ul4.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul4.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 5) a::after {
    -webkit-mask: url("/assets/lines/ul5.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul5.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 6) a::after {
    -webkit-mask: url("/assets/lines/ul6.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul6.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 7) a::after {
    -webkit-mask: url("/assets/lines/ul7.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul7.svg") no-repeat bottom / 100% 4px;
  }
  main :nth-child(8n + 8) a::after {
    -webkit-mask: url("/assets/lines/ul8.svg") no-repeat bottom / 100% 4px;
    mask: url("/assets/lines/ul8.svg") no-repeat bottom / 100% 4px;
  }
  main a.no-mask::after {
    @apply bg-transparent;
    -webkit-mask: none !important;
    mask: none !important;
  }
}
